.skillArea {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 60px;
}

.strSkills,
.dexSkills,
.conSkills,
.intSkills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid goldenrod;
  height: 200px;
}

.conSkills {
  height: 70px;
}

.intSkills {
  height: 160px;
}

.statDisp {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  margin: 0px 10px;
  height: 48px;
}

.profMod {
  margin-right: 19px;
}

.skillMod {
  margin-right: 15px;
}

.strSkills,
.dexSkills {
  height: 100px;
}

.statLabel {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 20px;
  text-decoration: underline;
}

.areaLabel {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.profMod {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid goldenrod;
}

.profMod[data-prof="false"] {
  background-color: white;
}

.profMod[data-prof="proficient"] {
  background-color: black;
}

.profMod[data-prof="expert"] {
  background-color: goldenrod;
}
