.homeTitle {
  text-align: center;
  margin-left: auto;
}

.homeTitle h1 {
  font-size: 45px;
  margin-bottom: -10px;
}

.homeTitle p {
  margin-bottom: 40px;
}

.about {
  width: 70%;
  margin: auto;
  line-height: 1.6;
}

.smallLine {
  width: 60%;
  margin: auto;
  border-bottom: 1px goldenrod solid;
  height: 10px;
  margin-top: 5px;
  margin-bottom: -5px;
}
