.stats {
  margin-left: 60px;
  padding: 20px 30px;
  background-color: black;
  width: 350px;
  margin-top: 120px;
  margin-right: 10px;
  align-items: center;
  border: 3px solid goldenrod;
  border-radius: 10px;
  box-shadow: 7px 7px 20px goldenrod;
  height: 850px;
}

.stats * {
  color: white;
  font-weight: bold;
}

.statArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.statNumber {
  font-size: 30px;
  padding: 10px 15px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.statMod,
.statName {
  font-size: 25px;
}

.statChanger {
  display: flex;
  flex-direction: row;
}

.statDisplay {
  width: 100px;
  text-align: center;
  height: 80px;
}

.statDisplay p {
  margin: 0;
  background-color: white;
  color: black;
  height: 50%;
  padding-top: 2px;
  font-size: 25px;
}

.statButton {
  width: 30px;
  height: 80px;
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  font-size: 25px;
}

/* Should be at the bottom of the document */
.hidden {
  display: none;
}
