.footer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 9%;
  background-color: #ffffff;
  border-top: 2px solid goldenrod;
}

.copyrightSection {
  width: 20%;
  line-height: 0.7;
  font-size: 15px;
  margin: 10px;
  margin-left: 60px;
}

.aboutArea {
  width: 20%;
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding-left: 40px;
}

.aboutArea a {
  color: black;
}

.aboutArea a:hover {
  color: goldenrod;
}

.dice {
  margin: auto;
}
