.navBar {
  display: flex;
  width: 90%;
  margin-left: 5%;
  list-style: none;
  padding-bottom: 20px;
  border-bottom: 2px solid goldenrod;
}

.navLink {
  color: black;
}

.navLink a,
.loginButton a {
  text-decoration: none;
  color: black;
  margin: 30px;
  font-size: 24px;
}

.navLink a:hover,
.loginButton a:hover {
  color: goldenrod;
}

.loginButton {
  margin-left: auto;
  margin-right: 30px;
}
